<div>
    <h1>carrito con id : <span id="tituloIdCarrito"></span> tiene los siguientes productos: </h1>

    
        <div id="listaProductos" class="row" style="justify-content: center;" >

        </div>
<div class="container">
        <button class="btn btn-danger m-1 col" id="volver">Volver a panel principal</button>
        <button class="btn btn-success m-1 col-9" id="comprar" >Comprar</button>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>